@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0px;

}

.container {
    margin-left: 250px;
    display: grid;
    grid-template-columns: 3fr;
    overflow: auto;
    resize: both;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
   

}

.side-bar {
    grid-column: 1 / 2;
    background-color: rgb(76, 183, 255);
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 450;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
   
}

.dash img {
    width: 45px;
}

.dash {
    align-items: center;
    display: flex;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 25px;

}

.icon-format {
    display: flex;
    align-content: center;
}

.icons {
    width: 25px;
    color: white;
}

.prof-icon {
    width: 50px;
}

.black-icon {
    width: 25px;
}

.nav-list {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    justify-items: end;
}

.nav-list a {
    display: flex;
    align-items: center;
    padding: 4px;

}

.nav-list li {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 6px;
    font-weight: 700;
}

p {
    color: dimgray;
}

a {
    text-decoration: none;
    color: white;

}
 h4 {
    color: black;
 }
h3 {
    font-size: 30px;
    font-weight: 200;
}

h1 {
    margin-bottom: 5px;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;

}

.profile {
    display: flex;
    font-size: large;
    font-weight: bold;
    align-items: center;
    justify-content: space-evenly;
    justify-items: end;
    width: 250px;
    margin-left: 150px;

}

.big-avatar {
    width: 75px;
}

.intro {
    display: flex;
}

.intro-end {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    justify-content: end;
}

.hi {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.handle {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
}

.search-bar {
    grid-column: 1 / 2;
    padding: 10px;
    margin: 2px;
    display: flex;
    align-items: center;
}

input {
    width: 85%;
    background-color: rgb(236, 236, 236);
    border: none;
    border-radius: 10px;
    height: 30px;

}

.content {
    margin-left: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 15px 1fr 1fr 1fr;
    background-color: rgb(236, 236, 236);
    gap: 10px;
    margin-top: 30px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.10), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100vh;
}
.your-projects {
    grid-column: 1 / 2;
    padding-left: 35px;
    margin-top: 5px;
    padding-bottom: 10px;
}

.right-side {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 35px;
    padding: 5px;

}

.projects {
    grid-column: 1 / 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
    margin-top: 15px;

}

.project {
    display: grid;
    grid-template-rows: 30px 2fr 1fr;
    background-color: white;
    padding: 20px;
    align-content: center;
    border-radius: 10px;
    border-left: solid 8px orange;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.10), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
}

.announcements {
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.10), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
}

.announcement-content {
    padding: 20px;
    margin: 20px;

}

.trending {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.10), 0 17px 50px 0 rgba(0, 0, 0, 0.10);
    margin: 15px;
}

.trending-content {
    display: flex;
    flex-direction: column;
    margin: 15px;
    align-items: center;

}

.content h1 {
    font-size: 1.1rem;
}

.buttons {
    display: flex;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    align-self: flex-end;
}

button {
    background-color: rgb(76, 183, 255);
    color: white;
    border: none;
    padding: 10px;
    width: 110px;
    font-weight: bold;
    border-radius: 20px;
    margin: 15px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(39, 164, 247);
}

.gray-line {
    border-top: solid rgb(236, 236, 236);
    border-bottom: solid rgb(236, 236, 236);
}

.icon-links {
    margin-top: 20px;
    grid-row: 3;
    display: flex;
    align-content: center;
    justify-content: flex-end;
}
