@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
 .container {
    display: grid;
    grid-template-columns: 250px 3fr;
    overflow: auto;
    resize: both;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.side-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: rgb(76, 183, 255);
    color: white;
    height: 100vh;
    margin-top: 0px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
}

.handle {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.search-bar {
    grid-column: 1 / 2;
}

.project-title {
  

} 

.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: grey;
    gap: 10px;


}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}

.project {
    background-color: white;
    margin: 4px;
    padding: 10px;
    align-content: center;
}


.announcement-content {
    background-color: white;
}

.trending-content {
    background-color: white;
}

.content h1 {
    font-size: 1rem;
}

.right-side {
    padding: 5px;
}

buttons {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 2 / 5;
    align-items: ;
    align-self: baseline;
    
}

button {
    background-color: rgb(76, 183, 255);
    color: white;
    border: none;
    padding: 15px;
    margin: 15px;
    width: 75px;
    font-weight: bold;
    

}

